@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

/* Common styling */

.home-page {
  /* Subtract MaterialUI default header height of 44px + (0.875rem * 1.75lh) */
  height: calc(100vh - 44px - 1.53125rem);
  /* Vertically and horizontally center page contents */
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  margin: 0 !important; /* Remove default margins */
  --swiper-theme-color: lightgray; /* Override default color */
  
  flex-basis: 50%;
  max-height: 85vh;
}

.swiper-slide img {
  width: 100%; /* Fit carousel */
}

.section-title {
  font-size: 11rem;
  font-weight: 200;
}

.detail {
  margin-top: 3rem;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: lighter;
  text-align: justify;
  padding-left: 1.75em;
  /* padding-right: 1rem; */
  /* width: 80%; */
}

/* Page 1 styling */

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  filter: brightness(60%);  /* projects gif brightness */
  object-fit: cover; /* projects gif fit */
}

.background img {
  width: 100%;
  height: 100%;
  filter: brightness(50%); /* home-page background brightness */
  object-fit: cover; /* home-page background fit */
}

/* Page 2 styling */

.about-section {
  margin-top: 15rem;
  gap: 10rem;
}

.about-carousel {
  max-width: calc(85vh * 3 / 4); /* max-height multiplied by aspect ratio */
}

.biography {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  font-weight: 200;
  font-size: 3rem;
  margin-top: 0;
}

/* Page 3 styling */
.pics-section {
  flex-direction: column;
  margin-bottom: 15rem;
}

.pics-title {
  font-size: 6.5rem;
  font-weight: 200;
  text-align: center;
  margin-top: 13rem;
}

.pics-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  width: 50%;
  margin: 1rem auto;
}

.cards-wrapper {
  margin-top: 5rem;
  display: flex;
  gap: 1rem;
  width: 100%;
  /* margin-bottom: 5rem; */
}

.cards-wrapper .figure {
  flex-basis: 25%; /* 4 images in the row */
  border-radius: 0.5rem;
}

.cards-wrapper .MuiCardMedia-root{
  /* Given 4 images in the row, 10% margin (left and right), and 3x 1rem gaps,
     the width of each image is equal to (80vw - 3rem) / 4. Given 3:4 aspect
     ratio, height should be (80vw - 3rem) / 3. */
  height: calc((80vw - 3rem) / 3);
}

/* Page 4 styling */

.projects-section {
  /* padding: 0 3.5rem; */
  gap: 9rem;
}

.projects-carousel {
  max-width: 85vh; /* Aspect ratio for projects-carousel is 1 */
}

.projects-text-column {
  display: flex;
  flex-direction: column;
  flex-basis: 48%;
}



/* Other */

.contact-button {
  --variant-textColor: lightgray !important;
  --variant-outlinedColor: lightgray !important;
  /* --variant-outlinedBorder: rgba(25, 118, 210, 0.5); */
  --variant-containedColor: #fff;
  padding: 2rem;
}