@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

/* Common styling */

.home-page {
  /* Subtract MaterialUI default header height of 44px + (0.875rem * 1.75lh) */
  height: calc(100vh - 44px - 1.53125rem);
  /* Vertically and horizontally center page contents */
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  margin: 0 !important; /* Remove default margins */
  --swiper-theme-color: lightgray; /* Override default color */
  
  flex-basis: 50%;
  max-height: 85vh;
}

.swiper-slide img {
  width: 100%; /* Fit carousel */
}

.section-title {
  font-size: 11rem;
  font-weight: 200;
}

.detail {
  margin-top: 3rem;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: lighter;
  text-align: justify;
  padding-left: 1.75em;
  /* padding-right: 1rem; */
  /* width: 80%; */
}

/* Page 1 styling */

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
}

.background img {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  object-fit: cover;
}

/* Page 2 styling */

.about-section {
  margin-top: 15rem;
  gap: 10rem
}

.about-carousel {
  max-width: calc(85vh * 3 / 4); /* max-height multiplied by aspect ratio */
}

.biography {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  font-weight: 200;
  font-size: 3rem;
  margin-top: 0;
}

/* Page 3 styling */

.pics-section {
  gap: 1rem;
  margin: 15rem 0;
}

.pics-section .figure {
  flex-basis: 25%; /* 4 images in the row */
}

.pics-section .figure p {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.pics-section .parallax-wrapper {
  /* Make div shorter than the image it wraps. Given 4 images in the row, 3rem
     padding (both sides), and 3x 0.2rem gaps, the width of each image is equal
     to (100vw - 6.6rem) / 4. Given 3:4 aspect ratio, setting
     height = width results in a vertical overflow of 25%. */
  height: calc(((100vw - 6.6rem) / 4));
  overflow-y: hidden;
}

.pics-section .parallax-wrapper img {
  width: 100%; /* Fit parallax wrapper's width (will overflow height) */
}

/* Page 4 styling */

.projects-section {
  /* padding: 0 3.5rem; */
  gap: 9rem;
}

.projects-carousel {
  max-width: 85vh; /* Aspect ratio for projects-carousel is 1 */
}

.projects-text-column {
  display: flex;
  flex-direction: column;
  flex-basis: 48%;
}



/* Other */

.contact-button {
  --variant-textColor: lightgray !important;
  --variant-outlinedColor: lightgray !important;
  /* --variant-outlinedBorder: rgba(25, 118, 210, 0.5); */
  --variant-containedColor: #fff;
  padding: 2rem;
}