@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

/* Common styling */

.home-page {
  /* Subtract MaterialUI default header height of 44px + (0.875rem * 1.75lh) */
  height: calc(100vh - 44px - 1.53125rem);
  /* Vertically and horizontally center page contents */
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  margin: 0 !important; /* Remove default margins */
  --swiper-theme-color: lightgray; /* Override default color */
  
  flex-basis: 50%;
  max-height: calc(90vh - 44px - 1.53125rem);
}

.swiper-slide img {
  width: 100%; /* Fit carousel */
}

.detail {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: lighter;
  text-align: justify;
}

/* Page 1 styling */

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(35%) blur(1px);
  top: 0;
  object-fit: cover;
}

.intro {
  font-size: 11rem;
  font-weight: 200;
}

/* Page 2 styling */

.about-section {
  gap: 4rem;
}

.about-carousel {
  max-width: calc(90vh * 3 / 4); /* max-height multiplied by aspect ratio */
}

.biography {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  font-weight: 200;
  font-size: 3rem;
  margin-top: 0;
}

.biography-title {
  font-size: 15rem;
  font-weight: 300;
  margin-bottom: 0.2rem;
  width: 100%;
}

.biography-detail {
  padding-left: 1.75em;
  padding-right: 1rem;
  width: 80%;
}

/* Page 3 styling */

.pics-section {
  padding: 0 5rem; /* top/bottom, left/right */
  gap: 1.5rem;
}

.pics-section .pics {
  flex-basis: 20%;
}

.pics-section .pics img {
  width: 100%; /* Fit container divs */
}

/* Page 4 styling */

.projects-section {
  gap: 4rem;
  padding: 0 3.5rem;
}

.projects-carousel {
  max-width: 90vh; /* Aspect ratio for projects-carousel is 1 */
}

.projects-text-column {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.projects-title {
  padding-bottom: 2rem;
  font-size: 11rem;
  font-weight: 200;
  /* text-align: center; */
  margin: 0;
}

/* Other */

.contact-button {
  --variant-textColor: lightgray !important;
  --variant-outlinedColor: lightgray !important;
  /* --variant-outlinedBorder: rgba(25, 118, 210, 0.5); */
  --variant-containedColor: #fff;
  padding: 2rem;
}